$body-color-default: #707070;
$bg: radial-gradient(ellipse at center,
    rgba(59, 59, 59, 1) 0%,
    rgba(24, 24, 23, 1) 100%);

$bg_general: rgb(255, 79, 0);
$base-color: rgb(255, 79, 0);

$bg_main: rgb(37, 37, 37);

$font-large: 70px;
$font-medium: 19px;
$font-small: 16px;
$fontF: 'Gilroy',
sans-serif;